<div class="row">
<div class = "col m8" style="height:380;width: 60%;margin-left: 30px;">
    <div class="video-container">
       {{content.field_url}}
    </div>
</div>
 <div class="col m4 style="height:380; float:right;">
      <div class="card">
        <div class="card-content">
          <h3 style="color:black;">Latest events</h3>
          <hr>
          <a href="/node/12">Homeopathy Organisation</a>
           <p>26 dec 2019</p>
            <br>
           <a href="/node/11">Chemical Evolution organisation Ceremony</a>
           <p>19 oct 2019</p>
           <br>
           <a href="#">Drugs and Inhalation Organisation</a>
           <p>12 nov 2019</p>
            <br>
            <a href="#">More Event</a>   
        </div>
          
      </div>
    </div>
</div>