    <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
             <p>{{content.field_money_granted}}</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <p>{{content.field_money_granted}}</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
             <p>{{content.field_money_granted}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
