<div class = "col m6" style="height: 100%;width: 50%;margin-left: 30px;">
    <div class="video-container">
        <iframe src="https://www.youtube.com/embed/7yDXeEJEi0A?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
</div>