
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">{{content.field_subtitle}}</h1>
        <div class="row center">
          <h5 class="header col s12 light">A Research Based Company</h5>
        </div>
        <div class="row center">
          <a href="  {{content.field_read_more_on_pict['0']['#url']}}" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">  {{content.field_read_more_on_pict['0']['#title']}}</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax">
      {{content.field_image}}
    </div>
  </div>
  
