
{% set heading_id = attributes.id ~ '-menu'|clean_id %}
   <div class="col s3">
   <h4 class="white-text">Latest Events</h4>
	  {# Label. If not displayed, we still provide it for screen readers. #}
	  {% if not configuration.label_display %}
	    {% set title_attributes = title_attributes.addClass('visually-hidden') %}
	  {% endif %}
	  
	  {{ title_suffix }}

	  {# Menu. #}
	  {% block content %}
	    {{ content }}
	  {% endblock %}
  </div>
